body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.logobar {
  background-color: #222f3f;
  height: 6vh;
  padding-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.logobar img {
  height: 2.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

nav {
  background-color: #364759;
  height: 3vh;
  padding-top: 1rem;
}

nav a {
  font-size: 1.1rem;
  color: beige;
  padding-left: 1rem;
  text-decoration: none;
}

main {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}

main a {
  text-decoration: none;
  color: #0a5d61;
}

.orangebanner {
  background-color: #f56600;
  text-align: center;
  font-weight: bold;

  height: 2rem;
  padding-top: 1em;
}

.orangebanner a {
  padding-top: 0.7em;
  font-weight: bold;
  text-decoration: none;
  color: #e9edee;
}

.guide {
  text-align: center;
  color: #ffffff;
  background-image: url(../images/bg-image.png);
  height: 10rem;
  background-color: #ffffff;
  margin-top: 2rem;
  padding-top: 4em;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.guide span {
  font-size: 2em;
}

.guide div {
  margin-top: 2em;
  font-size: 1.2em;
}

.buy {
  margin-top: 2rem;
}

.caption {
  padding-top: 1em;
  font-size: 1.3em;
  font-weight: 500;
  font-weight: 400;
}

.caption a {
  font-size: 0.8em;
  font-weight: bold;
}
.cards {
  background-color: #ffffff;
  height: 35rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
  white-space: nowrap;
}

.cardscontainer {
  display: inline-block;
  width: 23%;
  margin: 1em;
  height: 29em;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(6, 6, 6, 0.419);
  overflow: hidden;
  vertical-align: top;
}

.cardscontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullwidthcards img {
  width: 100%;
}

.fullwidthcards div {
  margin-bottom: 3rem;
  text-align: center;
}

.fullwidthcards figcaption {
  padding-top: 1em;
  font-size: 1.6em;
  font-weight: 600;
  color: #111;
}

.fullwidthcards figcaption a {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0.2em;
  text-decoration: none;
  color: #007185;
  margin-left: 1em;
}

.back {
  background-color: #364759;
  color: #cfd9de;
  text-align: center;
  height: 2.5em;
  padding-top: 1.2em;
}

.back a {
  font-size: 1.1em;
  color: #cfd9de;
}
.bottomlogo {
  height: 14em;
  background-color: #222f3f;
  text-align: center;
}
.bottomlogo img {
  width: 12em;
  padding-top: 4em;
}
